<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>【2016中科氢氧】群贤毕至, 强势倾袭</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script type="text/javascript" src="js/rem.js"></script>
		<link rel="stylesheet" href="css/css.css">
		<script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
		<script type="text/javascript" src="js/angular.js"></script>
		<script type="text/javascript" src="js/job.js"></script>
		<script type="text/javascript" src="js/touch.js"></script>
		<script type="text/javascript" src="js/pic.js"></script>
	</head>
	<body ng-app="zkqy">
		<div id="wraper">
			<header>
				<div class="headText">【2016中科氢氧】群贤毕至, 强势倾袭</div>
			</header>
			<section class="hot">
				<div class="hot1">招聘</div>
				<ul class="hot2">
					<li class="top">中科氢氧2016年</li>
					<li classs="bottom">最新社招&校招信息汇总</li>
				</ul>
			</section>
			<section class="richContent">
				<div class="panel panel-primary">
					<div class="panel-heading">
					    <h3 class="panel-title">童鞋，最近是否感觉缺乏挑战了<h3>
					</div>
					<div class="panel-body">该去释放下自己的激情了——去一家高大上的云计算公司实现自己的价值！那么，加入中科氢氧一起拼可好？不用拼爹、不用拼颜值、不用拼身材！带着你的<span>“极致、激情、创新、理想”</span>来就好了！</div>
				</div>
			</section>
			<section class="picture">
				
			</section>
			<section class="recommend">
				<div class="header">公司介绍</div>
				<div class="shape">
					<div class="circuit"></div>
					<div class="circular1"></div>
					<div class="triangle">
						<div class="circular2"></div>
						<div class="circular3"></div>
					</div>
				</div>
				<ul class="recommendText">
					<li>中科氢氧云计算技术有限公司（以下简称中科氢氧）成立于2014年，是《中国云体系产业创新战略联盟》的理事单位。 公司总部位于上海，在北京、广州、合肥等地设有多个分支机构，业务范围覆盖华北、华东、华中和华南等大部分地区。</li>
					<li>中科氢氧的核心技术团队，由中科院的骨干技术人员以及原IBM等前全球50强的研发团队共同组成，他们在业务拓展、技术积累和产品研发等方面成为我司的中坚力量。中科氢氧致力于开发企业私有云平台(vaneCloud)、大数据解决方案和SaaS应用的行业云战略服务提供商。创新、服务激情和责任是我们公司创立至今一直秉承的服务理念，以此来为我们的客户提供赋有前瞻性和可持续性的优质的产品和服务。</li>
				</ul>
			</section>
			<section class="recommend">
				<div class="header">联系我们</div>
				<div class="shape">
					<div class="circuit"></div>
					<div class="circular1"></div>
					<div class="triangle">
						<div class="circular2"></div>
						<div class="circular3"></div>
					</div>
				</div>
				<div class="advantage">公司地址：<span>上海市桂平路471号3号楼3楼(漕河泾新兴技术开发区)</span></div>
				<div class="advantage">简历请发送：<span>hr@vanecloud.com</span></div>
			</section>
			<section class="recommend">
				<div class="header">招聘岗位</div>
				<div class="shape">
					<div class="circuit"></div>
					<div class="circular1"></div>
					<div class="triangle">
						<div class="circular2"></div>
						<div class="circular3"></div>
					</div>
				</div>
				<div id="jobPic" class="jobPic">
				  	<ul class="carousel-indicators" id="picBtns">
					    <li class="active"></li>
					    <li></li>
					    <li></li>
					    <li></li>
					    <li></li>
					</ul>   
					<div id="carousel-inner" class="carousel-inner">
						<div class="item">
						    <img src="img/1.jpg"/>
						</div>
						<div class="item">
						   	<img src="img/2.jpg"/>
						</div>
					    <div class="item">
					        <img src="img/3.jpg"/>
					    </div>
						<div class="item">
					        <img src="img/4.jpg"/>
					    </div>
						<div class="item">
					        <img src="img/5.jpg"/>
					    </div>
					</div>
				</div> 
			</section>
			<section class="job" ng-controller="work">
				<div ng-repeat="data in worksList">
					<div class="jobHead">
						<div class="jobText">
							【<span>{{data.job}}</span>】
						</div>
					</div>
					<div class="animation">
						<img src="img/job.gif">
					</div>
					<div class="demand">岗位职责：</div>
					<ul class="require">
						<li ng-repeat="require in data.require">{{require}}</li>
					</ul>
					<div class="demand">职位要求：</div>
					<ul class="require">
						<li ng-repeat="duty in data.duty">{{duty}}</li>
					</ul>
				</div>
			</section>
			<footer>
				<section class="LinerRed"></section>
				<div class="footText">【关注】校招日历，求职路上，与你一起并肩</div>
			</footer>
		</div>
	</body>
</html>
